body{
    /* background-color: #ebe9e3; */
    /* background-color: aqua; */
    margin:0px;
    padding:0px;
    width:100vw;
    height:100vh;
    background-image: url(../assets/coolbackgrounds-particles-filigree.png);
}
header {
  position: relative;
  z-index: 1;
}
   #vanta-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}


  /* কনটেন্ট যেন উপরে থাকে */
  .content {
    position: relative;
    z-index: 1;
    color: white; /* পছন্দমতো রং দাও যেন দেখা যায় */
  }

  /* বডি যেন ঠিকভাবে দেখায় */
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

/* .fonts{
   font-family: 'Inter', 'Segoe UI', 'Helvetica Neue','sans-serif';
} */
.WDXL-fonts {
 font-family: "WDXL Lubrifont SC", 'sans-serif';
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}


nav{
  font-size: 32px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul{
  display: flex;
  gap:15px;
}
li{
  list-style: none;
}

header {
  background-color: rgba(0, 0, 0, 0.0);
  backdrop-filter: blur(10px);
  color: #ffffff;
  padding: 15px;
}

header a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

header a:hover {
  color:#00FFFF;
  transition: color 0.3s;
}
body.day-mode a {
  color: black;
}
body.day-mode nav a:hover {
  color:#00FFFF;
  transition: color 0.3s;
}

#profile:hover {
  border-color: #00FFFF;
}
/* Night mode text color */
/* body.night-mode a {
  color: white;
} */